.column-billing_address .description .payment-title-checkout .paymentlogoWidthSrc {
    width: 42px;
    vertical-align: middle;
}
.column-billing_address .description .payment-title-checkout #tell-me-more .tell-me-more-image {
    width: 12px;
    vertical-align: middle;
}