.cart-subtotal .splitit-installment-price {
    display: none !important;
}
.powered-by-splitit {
    margin: 10px 0 0;
    width: 100%;
    text-align: center;
}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
    line-height: 28px !important; /*disabling PAYPAL line-height: 52px; as it pushes our tell me more down*/
    padding: 14px 0 0;
}
#tell-me-more {
    float: right;
    font-size: 15px;
    line-height: 26px;
    padding: 5px 0 0;
}



/* =======================================================================new css====================================================== */
.cart_total_pricing {
    float: left !important;
    width: 50%;
}
.cart-monthly-plans {
    float: right;
    width: 50%;
}

.clearfix:after {
  display: table;
  content: '';
  clear: both;
}
.accordian-wrap {
  max-width: 500px;
}
.accordian-wrap .aw-effect {
  font-size: 0;
  display: none;
}
.accordian-wrap .aw-effect, .accordian-wrap .aw-change {
  background: #064269d1;
}
.accordian-wrap .aw-change {
  color: white;
  font-size: 12px;
  line-height: normal;
  padding: 0 10px 5px;
}
.accordian-wrap .aw-in-block {
  display: inline-block;
  width: 48%;
  padding: 0 0 0 10px;
  font-size: 10px;
  line-height: 30px;
  font-weight: bold;
  color: white;
}
.accordian-wrap .aw-item {
  border-bottom: 1px solid white;
}
.accordian-wrap .aw-change {
  display: none;
}
.accordian-wrap .aw-header .aw-header-text {
  font-weight: bold;
  color: #064269d1;
  margin-bottom: 0;
  width: 50%;
  float: left;
}
.accordian-wrap .aw-header .aw-link {
  display: flex;
  align-items: center;
  box-shadow: none;
}
.aw-link:hover {
    text-decoration: none;
    cursor: pointer;
}
.accordian-wrap .aw-header .aw-image {
  background-image: url('../images/logo-06.jpg');
  height: 50px;
  background-size: cover;
  background-position: center;
  width: 50%;
  background-repeat: no-repeat;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.cart-monthly-plans .aw-checkout-button {
    margin-top: 80px;
}
.cart-monthly-plans .aw-checkout-button a {
    border: 2px solid #064269d1;
    color: #064269d1;
}

@media screen and (max-width: 768px) {
    .cart-monthly-plans {
        float: none;
        width: 100%;
    }
    .accordian-wrap {
        max-width: unset;
    }
}



.cart_total_pricing {
    float: none !important;
    width: 100% !important;
}
.cart_total_pricing .cart-total-inner {
    width: 48%;
    float: left;
}
.checkout-button:after {
    font-size: 13px;
}


@media screen and (max-width: 768px) {

    .cart_total_pricing .cart-total-inner {
        width: 100%;
        float: none;
    }
}
